
@{
    ViewBag.Title = "About-Serial";
}
<link rel="stylesheet" href="~/css/style-other.css" />

<div class="series">
    <div class="container">
        <div class="container-general">
            <div class="image__wrapper">
                <img src=@ViewBag.ListImages[0] class="poster" width="500" height="700"/>
            </div>
            <h1>@ViewBag.Serial[0].Name</h1>
            <p class="originalname">@ViewBag.Serial[0].OriginalName</p>
            <table cellspacing="10" width="470">
                <tr><td><b>Год выхода:</b></td><td>@ViewBag.Serial[0].Year</td></tr>
                <tr><td><b>Страна:</b></td><td>@ViewBag.Serial[0].Country</td></tr>
                <tr><td><b>Жанр:</b></td><td>@ViewBag.Serial[0].Genre</td></tr>
                <tr><td><b>Режиссер:</b></td><td>@ViewBag.Serial[0].Producer</td></tr>
                <tr><td><b>Бюджет:</b></td><td>@ViewBag.Serial[0].Budget</td></tr>
                <tr><td><b>Премьера в мире:</b></td><td>@ViewBag.Serial[0].Premiere</td></tr>
                <tr><td><b>Возраст:</b></td><td>@ViewBag.Serial[0].Age</td></tr>
                <tr><td><b>Длительность серии:</b></td><td>@ViewBag.Serial[0].Duration</td></tr>
                <tr><td><b>Общее время:</b></td><td>@ViewBag.Serial[0].TotalTime</td></tr>
                <tr><td><b>Рейтинг:</b></td><td>@ViewBag.Serial[0].Rating</td></tr>
            </table>
        </div>
        <div class="container-descr">
            <h2>Описание</h2>
            <p>@ViewBag.Serial[0].Description</p>
        </div>
    </div>
</div>